.citiesContainer {
  height: 10vh;
  width: 100%;
  min-height: 6rem;
  display: flex;
  justify-content:flex-start;
  background-color: #ffffff41;
  backdrop-filter: blur(16px);
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
