.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
}
.input {
  background-color: transparent;
  border: none;
  color: var(--color-font);
  font-size: 1.5rem;
  max-width: 20rem;
  
}
.input:focus {
  outline: none;
}
.input::placeholder {
  color: #ffffff85;
  font-family:'Bebas Neue';
  font-size: 2rem;
  letter-spacing: .25rem;
}

.button {
  border: solid 2px transparent;
  border-radius: 9999px;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.25s;
  cursor: pointer;
  color: var(--color-font);
}
.button:hover {
  background-color: #ffffff60;
}

