.weatherDataContainer{
  height: 85%;
  width: 100%;
  align-self: flex-start;
}

.card {
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: center;
  color: #181818;
}

.nameImgContainer{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nameImgContainer img {
  max-width: 9.5rem;
  max-height: 9.5rem;
  padding-right: 5rem;
  padding-top: 1rem;
}

.name {
  background-color: #0000005e;
  border-radius: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: #e9e9e9;
  font-size: 4rem;
  padding: 1rem;
  margin-left: 2rem;
}

.temp {
  display: flex;
  flex-direction: column;
  width: 3rem;
  justify-content: center;
  text-align: center;
}
.temp + .temp {
  margin-left: 1rem;
}
.temps {
  display: flex;
}
