.SearchBarContainer {
  height: 8vh;
  width: 50%;
  min-height: 5rem;
  position: absolute;
  display: flex;
  justify-content:center;
  background-color: var(--black-background);
  backdrop-filter: blur(16px);
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
}

@media only screen and (max-width: 950px){

  .SearchBarContainer {
    width: 70%;
  }
}

@media only screen and (max-width: 600px){

  .SearchBarContainer {
    width: 100%;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
  }
}