.weatherDataContainer{
  height: 85%;
  width: 100%;
  align-self: flex-start;
  margin-top: 2rem;
}

.card {
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: center;
}

.nameImgContainer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: var(--black-background);
  border-radius: 1.5rem;
}

.image {
  position: relative;
  right: 5rem;
  object-fit: contain; 
}

.name {
  background-color: #0000005e;
  border-radius: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  font-size: 4rem;
  padding: 1rem;
  margin-left: 2rem;
}

.temp {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.temp + .temp{
  margin-left: 4rem;
}

.temps {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 8rem;
}

@media only screen and (max-width: 1400px) {

  .temps {
    flex-wrap: wrap;
    justify-content:center;
    top: 2rem;
  }

  .temp + .temp {
    margin-left: 0;
  }

  .temp {
    margin: .5rem;
    font-size: 2.8rem;
  }

  .image {
    right: 2rem;
  }
}

@media only screen and (max-width: 750px) {

  .name {
    font-size: 2.2rem;
    margin-left: 1rem;
  }

  .image {
    right: 1rem;
  }

  .temp {
    font-size: 2rem;
    margin: 1.5rem;
  }

  .temps {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {

  .nameImgContainer{
    flex-direction: column;
    justify-content: space-around;
  }

  .name {
    margin-left: 4rem;
    margin-right: 4rem;
    padding-right: .5rem;
  }

  .image {
    right: -4rem;
    width: 150px;
    height: 150px;
  }

  .temp {
    font-size: 2rem;
    margin: .7rem;
    margin-top: 0;
  }

  .temps {
    justify-content: center;
  }
}