.weatherDataContainer{
  height: 85%;
  width: 100%;
  align-self: flex-start;
  margin-top: 2rem;
}

.card {
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: center;
}

.nameImgContainer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: var(--black-background);
  border-radius: 1.5rem;
}

.image {
  position: relative;
  right: 5rem;
  object-fit: contain; 
}

.name {
  background-color: #0000005e;
  border-radius: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  font-size: 4rem;
  padding: 1rem;
  margin-left: 2rem;
}

.temp {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.temp + .temp{
  margin-left: 4rem;
}

.temps {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}

@media only screen and (max-width: 1400px) {
  
}